{{/* Email sign-up via Buttondown. Posting the form takes the reader to Buttondown's confirmation page. */}}
<form action="https://buttondown.com/api/emails/embed-subscribe/harry8wu" method="post" class="subscribe">
    <label for="bd-email">Instagram is too spammy. Get updates from me, occasionally.</label>
    <div class="subscribe_row">
        <input type="email" name="email" id="bd-email" placeholder="you@example.com" required autocomplete="email">
        <input type="submit" value="Subscribe">
    </div>
</form>
